# '.source.coffee':
#   'smartchr':
#     'chrs': [
#       {
#         chr: '=',
#         candidates: [' = ', '=', ' == ']
#       }
#       {
#         chr: '>',
#         candidates: [' -> ', ' => ', ' > ', ' >= ', '>']
#       }
#       {
#         chr: '<',
#         candidates: [' < ', ' <= ', '<']
#       }
#       {
#         chr: ',',
#         candidates: [', ', ',']
#       }
#       {
#         chr: '+',
#         candidates: [' + ', '+']
#       }
#       {
#         chr: '-',
#         candidates: [' - ', '-']
#       }
#       {
#         chr: '&',
#         candidates: [' && ', '&']
#       }
#       {
#         chr: '|',
#         candidates: [' || ', '|']
#       }
#     ]
# '.source.ruby':
#   'smartchr':
#     'chrs': [
#       {
#         chr: '=',
#         candidates: [' = ', ' == ', ' === ', '=']
#       }
#       {
#         chr: '>',
#         candidates: [' => ', ' > ', ' >= ', '>']
#       }
#       {
#         chr: '<',
#         candidates: [' < ', ' <= ', '<']
#       }
#       {
#         chr: ',',
#         candidates: [', ', ',']
#       }
#       {
#         chr: '+',
#         candidates: [' + ', '+']
#       }
#       {
#         chr: '-',
#         candidates: [' - ', '-']
#       }
#       {
#         chr: '&',
#         candidates: [' && ', '&']
#       }
#       {
#         chr: '|',
#         candidates: [' || ', '|']
#       }
#     ]
